<div id="sidebar-top-adsense" class="sidebar-item adsense">
    <div class="container">
        <div class="sidebar-item adsense">
            <div class="container">
                <a href="http://px.a8.net/svt/ejp?a8mat=2HDRES+8645MA+2X46+626XT" target="_blank">
                    <img border="0" width="300" height="250" alt="" src="http://www28.a8.net/svt/bgt?aid=150127876494&wid=001&eno=01&mid=s00000013623001018000&mc=1">
                </a>
                <img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2HDRES+8645MA+2X46+626XT" alt="">
            </div>
        </div>
    </div>
</div>
