<div class="sidebar-item adsense">
    <div class="container">
        <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=a8-affi-225370-22&o=9&p=12&l=ur1&category=amazonrotate&f=ifr" width=300 height=250 scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe> <img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=1NWEYE+91O4OI+249K+BWGDT" alt="">
    </div>
</div>
<div class="sidebar-item adsense">
    <div class="container">
        <a href="http://px.a8.net/svt/ejp?a8mat=2HDRES+78RVQQ+50+2HH0SH" target="_blank">
            <img border="0" width="300" height="300" alt="" src="http://www23.a8.net/svt/bgt?aid=150127876438&wid=001&eno=01&mid=s00000000018015028000&mc=1">
        </a>
        <img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2HDRES+78RVQQ+50+2HH0SH" alt="">
    </div>
</div>